@page
@using UsersResources = UserManagement.Localization.Users.UsersResources

@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = UsersResources.ForgotPasswordConfirmation;
}
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
    @UsersResources.ForgetPasswordConfirmMsg
</p>
