@page
@using UsersResources = UserManagement.Localization.Users.UsersResources
@using _LayoutManagement = UserManagement.Localization._LayoutManagement._LayoutManagement
@using SharedResources=Common.Localization.Shared.Shared
@model ForgotPasswordModel
@{
    ViewData["Title"] = UsersResources.ForgotPassword;
}

<form method="post">
    <h1>@UsersResources.ForgotPassword</h1>
    <div>
        <input asp-for="Input.Email" class="form-control" placeholder="@(UsersResources.Email)" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>

    </div>

    <div>
        <button type="submit" class="btn btn-secondary submit">@SharedResources.Submit</button>

    </div>

    <div class="clearfix"></div>

    <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
            <h1><i class="fa fa-users"></i>@_LayoutManagement.SystemName</h1>
        </div>
    </div>
</form>
