@page
@using UsersResources = UserManagement.Localization.Users.UsersResources

@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = UsersResources.ResetPasswordConfirm;
}

<h1>@ViewData["Title"]</h1>
<p>
    @UsersResources.ResetPasswordConfirmMsg
    <a id="forgot-password" asp-page="/Account/Login" asp-area="Identity" class="btn btn-default submit">@UsersResources.Login</a>
</p>
